:root{
    --pink:#e91e63; }
* { margin: 0;
padding: 0;
box-sizing: border-box; 
font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
outline: none;
border: none; text-decoration: none;
text-transform: capitalize;
transition:.2s linear;
} 
html { font-size: 62.5%; 
    scroll-behavior: smooth;
scroll-padding-top: 6rem; 
overflow-x:hidden ;}
header { position: inherit;
top: 0;
left: 0;   
right: 0;
background-color: white;
padding: 2rem 9%;
display: flex;
align-items: flex-start;
justify-content: space-between;
z-index: 1000;
box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

} 
header .logo { font-size: 2.5rem;
color: #333;    
font-weight: bolder; 
}
header .logo span { color: var(--pink); }
header .navbar { display: flex; align-items: center; }
header .navbar a{  font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;


}
header .navbar a:hover { color: var(--pink); }
/* style SVG icons inside .icon (they use fill="currentColor") */
header .icon svg { width: 3rem; height: 3rem; color: #666; margin-left: 2rem; }
header .icon svg:hover { color: var(--pink); }
